.highscore{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  box-sizing: border-box;
  min-width: 500px;
}


.highscoreTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  flex-grow: 10;

}


.highscoreTable td,
.highscoreTable th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 1em;


}

.highscoreTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.highscoreTable tr:hover {
  background-color: #ddd;
}

.highscoreTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(48, 107, 216);
  color: white;
}

.sort  {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  flex-grow: 1;
}


.sort a{
  text-decoration: none;
  color: white;
}


.sort button, .back button{
  color:white;
  background-color: rgb(48, 107, 216);
  border: 1px solid rgb(19, 79, 190);
  font-kerning: normal;
  font-size: 1.5em;

  padding: 5px;
  border-radius: 0.4em;
  margin: 2px;
  transition: color 0.5s, border-color 0.25s, box-shadow 0.25s,transform 0.15s;
}

.sort button:hover, .sort button:hover, .sort a:hover{
  transform: scale(1.1)  translateY(-0.15em);
    background-color: rgb(249, 251, 255) ;
    color: rgb(77, 9, 238);
    font-size: x-large;
    margin-top:10px ;
    transition: color 0.1s, border-color 0.25s, box-shadow 0.25s,transform 0.15s;
}
.sort button:active, .back button:active{
  
    background-color: rgb(77, 9, 238) ;
    color: rgb(249, 251, 255);
}


